* {
    padding: 0;
    margin: 0;
}


/* classes*/

.fontC {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 70, 70);
    font-weight: 10
}


/* Id's */

#cabecalho {
    margin: 0 0 0 0;
    width: 0 auto;
    height: 100px;
    background-color: black;
}

#gif {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 25px;
    margin-right: 120px;
    width: 100px;
    height: 100px;
}

#logo {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 85%;
    width: 100px;
    height: 100px;
}

#titulo {
    margin: 0 auto;
    margin-left: 15%;
    height: 75px;
    width: 75%;
}

#menu {
    margin: 0 auto;
    height: 25px;
    width: 75%;
}

#container {
    width: 70%;
    margin-left: 15%;
    padding-bottom: 50%;
    background-color: rgba(0, 0, 0, 0.438);
}

#fundo {
    background-color: rgb(63, 62, 62);
    margin: auto;
}

#rodape {
    margin: 0 auto;
    width: 100%;
    height: 30px;
    clear: both;
    background-color: lightslategray
}

#titulo h1 {
    text-align: left;
    font-size: 59px;
    letter-spacing: 5px;
}

#menu ul {
    list-style: none;
    text-align: center;
}

#menu ul li {
    display: inline;
    margin: 0px 30px 0px 30px;
}

#menu ul li a {
    text-decoration: none;
    color: darkgray;
    font-size: 20px;
}

#menu ul li a:hover {
    color: black;
    transition-delay: 0.1s;
}

#rodape p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
}